.bg{
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('./images/xowall.jpg');
    opacity: .1;
    z-index: -1;
    background-size: 120%;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameboard{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
.gamegrid{
    display: grid;
    height: 100px;
    width: 100px;
}
.newGame{
    display: flex;
    margin-top: 40px;
}
#g0{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
#g1{
    border-bottom: 1px solid black;
    border-right:  1px solid black;
}
#g2{
    border-bottom: 1px solid black;
}
#g3{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#g4{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#g5{
    border-bottom: 1px solid black;
}
#g6{
    border-right: 1px solid black;
}
#g7{
    border-right: 1px solid black;
}
#x{
   height: 100%;
   width: 100%;
}
.marker{
    height: 100%;
    width: 100%;
}
.hidden{
    visibility: hidden;
}
.winnerMark{
    height: 10%;
    width: 10%;
}
.winnerCard{
    background-color: aliceblue;
    box-shadow: inset;
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
#winner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#winnerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 23%;
    bottom: 50%;
}